1. for loop  is used when the number of iterations is known whereas while loop is used when the number of iterations is unknown and the statement will run until the condition is proved false.

e.g.

In [2]:
# example of for loop
inputList = [10, 20, 30, 40, 50]
print("Input list elements:")
for element in inputList:
    print (element)

Input list elements:
10
20
30
40
50

In [3]:
# example of while loop
i = 0
while i <= 5 :
    print (i)
    i += 1

0
1
2
3
4
5

In [3]:
# 2.

In [4]:
# sum using for loop
sum = 0
for i in range(1,11):
    sum = sum + i
print(sum)

55

In [5]:
# sum using while loop
sum = 0
i = 0
while i<11 :
    sum = sum + i
    i += 1
print(sum)

55

In [6]:
# product using for loop
product = 1
for i in range(1,11):
    product = product*i
print(product)

3628800

In [7]:
# product using while loop
product = 1
i = 1
while i<11 :
    product = product*i
    i += 1
print(product)

3628800

In [8]:
# 3.

In [9]:
units = int(input("Enter your monthly electricity consumption: "))
if units <= 100 :
    bill = units * 4.5
    print (bill)
elif units <= 200 :
    bill = 100*4.5 + (units-100)*6
    print(bill)
elif units <= 300 :
    bill = 100*4.5 + 100*6 + (units-200)*10
    print(bill)
else :
    bill = 100*4.5 + 100*6 + 100*10 + (units-300)*20
    print(bill)

Enter your monthly electricity consumption:  310

2250.0

In [10]:
# 4.

In [11]:
lst=[]
for i in range (1,101):
    lst.append(i)
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [12]:
# cube using for loop
lst1=[]
for i in lst:
    lst1.append(i*i*i)
print (lst1)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]

In [13]:
# cube using while loop
lst2=[]
i = 1
while i <= len(lst):
    lst2.append(i*i*i)
    i += 1
print(lst2)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]

In [14]:
list=[]
for i in lst1:
    if i%4==0 or i%5==0:
        list.append(i)
print(list)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [17]:
# 5.

In [20]:
string = 'I want to become a data scientist'
vowels=0
for i in string:
      if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U'):
            vowels=vowels+1
print(vowels)

12